<nav class="sidebar">
    <img src="/images/portfoliotracker.png" class="navimage">
    <h2>Menu</h2>
    <a href="/user/dashboard">Dashboard</a>
    <a href="/account">Accounts</a>
    <a href="/user/change-password">Change password</a>
    <a href="/logout">Log out</a>
  </nav>