<nav class="sidebar">
    <h2>Menu</h2>
    <a href="/dashboard">Dashboard</a>
    <a href="/account">Accounts</a>
    <a href="/user/change-password">Change password</a>
    <a href="/logout">Log out</a>
</nav>