
/*important to show nav and content from dashboard*/
body {
    display: flex;
    margin: 0;
    background-color: black;

  }
  
  .container {
    display: flex;
    align-items: center;    /* centrér alt vandret */
    gap: 20px;
  }

  .containerTitle {
    flex: 1;
    padding: 40px;
  }

  .account-boxes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 40px;
  }

  h1 {
    color: white;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 2rem;
    width: 300px;              /* eller hvad der passer til dit design */
    margin: 200px auto;         /* top/bund spacing + centrer i midten */
    padding: 20px; 
  }

  .createAccounts{ 
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
    
  }

  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .box1,
  .box2 {
    color: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 15px solid navy;
    padding: 50px;
    margin: 20px;
    margin-top: 250px;
  }