<!--Trade frontend-->
<html lang="en">
<%- include ('./partials/head.ejs') %>

<!--link to dashboard stylesheet-->
<link rel="stylesheet" href="dashboard.css">

<body>
  
    <!--main content-->
    <%- include ('./partials/nav.ejs') %>
    <div class="container">
    <div class="containerTitle">
        <h1>Trade</h1> <!--gets username from database-->
    </div>
    
    </div>
</body>

</html>