
/*important to show nav and content from dashboard*/
body {
    display: flex;
    margin: 0;
    background-color: black;
    font-family: arial;
  }
  
  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
  }

  .containerTitle {
    display: flex;
    text-align: left;
    padding: 20px;
  }

  .boxContainer {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  h1 {
    color: white;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 2rem;
    width: 300px;              /* eller hvad der passer til dit design */
    padding: 20px; 
  }

  .createAccounts{ 
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 10px;
    
  }

  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .box1,
  .box2,
  .box3,
  .box4 {
    background-color: 1B1B19;
    color: white;
    border-radius: 12px;
    padding: 30px;
    width: 1000px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

  }

  .createNewAccountBtn {
    background-color: gray;
    align-self: center;
    margin-bottom: 10px;
    padding: 8px 14px;
    font-size: 0.9rem;
  }

  .deactivateForm,
  .reactivateForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .deactivateForm button {
    background-color: maroon;
  }

  .reactivateForm button {
    background-color: seagreen;
  }

  h2 {
    text-align: center;
  }

  a {
    color: white;
  }

  .tableContainer {
    color: white;
    td {
      color: white;
    }
    th {
      color: white;
    }
  }

  .portfolioContainer {
    h1,
    h2,
    p {
      color: white;
    }
  }