/*Grundlæggende layout*/
/*Grundlæggende side indstillinger*/
body {
    background-color: black; /*Baggrund til hele siden*/
    font-family: arial; /*Standard skrifttype*/
}

/*Grundlæggende layout formular*/
form {
    display: flex; 
    flex-direction: column;
    gap: 10px;
    width: 300px;              
    margin: 40px auto;
    margin-top: 10px;      
    padding: 20px; 
  }

  /*Input felt*/
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; /*Afrundede hjørner*/
  }

  button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  /*Hovedoverskrift*/ 
  h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
  }

  /*Underoverskrift*/
  h2 {
    color: white;
    margin-bottom: 10px;
    text-align: center;
  }

  /*Almindelig tekst*/
  p {
   margin: 30px; 
  }

/*Link til "Change password"*/
  .change-password-link {
    color: #4a90e2;
    font-size: smaller;
    text-align: center;
    display: block;
    margin-top: -20px;
  }

  /*Tilbage link*/
  .back-link {
    color: #4a90e2;
    font-size: smaller;
    text-align: center;
    display: block;
    margin-top: -50px;
  }

/*Fejlhåndtering for password og input grupper*/
/*Wrapper omkring input, label og fejlbesked*/
.input-group {
  color: #333; 
  font-family: Helvetica, Arial, sans-serif; 
  font-size: 13px; 
  line-height: 20px; 
  margin-bottom: 6px; 
  width: 100%; 
}

/*Etiket styling*/
label {
  display: block; 
  margin-bottom: 2px; 
  font-weight: bold; 
}

/*Inputfelt når det ligger i .input-group*/
.input-group input {
  background: #fff; 
  border: 1px solid #999; 
  font-size: 13px; 
  height: 33px; 
  padding: 0 0 0 15px; 
  width: 100%; 
  border-radius: 4px; 
  box-sizing: border-box; 
}

/*Fejlmeddelelse under inputfelt*/
.error-message {
  color: #cc0033; 
  display: inline-block; 
  font-size: 12px; 
  line-height: 15px; 
  margin: 5px 0 0; 
}


