body {
    background-color: black;
    font-family: arial;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;              
    margin: 40px auto;
    margin-top: 10px;      
    padding: 20px; 
  }

  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
  }

  h2 {
    color: white;
    margin-bottom: 10px;
    text-align: center;
  }

  p {
   margin: 30px; 
  }


/*Styling til link til "Change password"*/
  .change-password-link {
    color: #4a90e2;
    font-size: smaller;
    text-align: center;
    display: block;
    margin-top: -20px;
  }
  .back-link {
    color: #4a90e2;
    font-size: smaller;
    text-align: center;
    display: block;
    margin-top: -50px;
  }

/*Styling til fejlhåndtering for password/
/*Wrapper omkring input, label og fejlbesked*/
.input-group {
  color: #333; 
  font-family: Helvetica, Arial, sans-serif; 
  font-size: 13px; 
  line-height: 20px; 
  margin-bottom: 6px; 
  width: 100%; 
}

/*Label-styling*/
label {
  display: block; 
  margin-bottom: 2px; 
  font-weight: bold; 
}

/*Inputfelt når det ligger i .input-group*/
.input-group input {
  background: #fff; 
  border: 1px solid #999; 
  font-size: 13px; 
  height: 33px; 
  padding: 0 0 0 15px; 
  width: 100%; 
  border-radius: 4px; 
  box-sizing: border-box; 
}

/*Styling til fejlmeddelelse under inputfelt*/
.error-message {
  color: #cc0033; 
  display: inline-block; 
  font-size: 12px; 
  line-height: 15px; 
  margin: 5px 0 0; 
}


