<!--EJS file to give user an overview of all their accounts + create account-->
<html lang="en">
<%- include ('./partials/head.ejs') %>

<!--link to dashboard stylesheet-->
<link rel="stylesheet" href="dashboard.css">

<body>
  
    <!--main content-->
    <%- include ('./partials/nav.ejs') %>
    <div class="container">
    <div class="containerTitle">
        <h1>Create new account</h1> <!--gets username from database-->
    </div>


    </div>
</body>

</html>