<!--EJS file to give user an overview of all their accounts + create account-->
<html lang="en">
<%- include ('./partials/head.ejs') %>

<!--link to dashboard stylesheet-->
<link rel="stylesheet" href="dashboard.css">

<body>
  
    <!--main content-->
    <%- include ('./partials/nav.ejs') %>
    <div class="container">
    <div class="containerTitle">
        <h1>Create new account</h1> <!--gets username from database-->
    </div>
        <div class="accountForm">
            <form action="/createAccount" method="POST">
                <div class="createAccounts">
                  <input type="text" name="accountName" placeholder="Account name" required />
                </div>
                <div class="createAccounts">
                  <input type="currency" name="currency" placeholder="Currency" required />
                </div>
                <div class="createAccounts">
                    <input type="balance" name="balance" placeholder="Balance" required />
                  </div>
                  <div class="createAccounts">
                    <label for="bankName">Select Bank:</label>
                    <select name="bankName" id="bankName" required>
                      <option value="danskebank">Danske Bank</option>
                      <option value="jyskebank">Jyske Bank</option>
                      <option value="nordea">Nordea</option>
                    </select>
                  </div>
                  <button type="Create account">Create account</button>
                </form>
        </div>

    </div>
</body>

</html>