<html lang="en">
<%- include ('partials/head.ejs') %>


<body>
  
    <!--main content-->
    <%- include ('partials/nav.ejs') %>
   
    <div class="containerTitle">
        <h1>Welcome to your dashboard, <%= username %> </h1> <!--gets username from database-->





    </div>
    
</body>

</html>