<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %>

<!--link to dashboard stylesheet-->
<link rel="stylesheet" href="dashboard.css">

<body>

  <!--main content-->
  <%- include ('./partials/nav.ejs') %>

  <div class="container">
    <div class="containerTitle">
      <h1>Welcome to your portfolio overview</h1> <!-- gets username from session -->
    </div>

    <div class="boxContainer">
      <div class="box3">
        <h2>Create new portfolio:</h2>
        <a href="/portfolio/create">Create portfolio!</a>
      </div>
    </div>
  </div>

</body>
</html>
